@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    font-family: 'Ubuntu', cursive;
    /* text-align: center */
};
.heading {
    padding: 5px;
    color: rgb(0, 4, 255);
};
h1,h2,h3,h4,h5,h6 {
    text-align: center;
};
.btn:hover {
    border-radius: 25px;
};

.link{
    /* target:_blank; */
    text-decoration: none
};
.coppy {
    background-color: black;
    color: white;
};