@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
* {
    text-align: center;
    text-decoration: none ;
    font-family: 'Ubuntu', sans-serif;

};
#footer {
    /* color: white; */
    background-color: black;
    text-align: center;
}

#registrationForm{
    background-color: rgb(41, 238, 23);
    display: flex;
    text-align: center;
    flex-direction: column;
};


#navbarSupportedContent {
    position: sticky;
}

.link{
text-decoration:none;
};

.card{
    text-align: center;
    flex-direction: column;
display: flex;
};

.break{
    padding:12px;
};

#top{
    border: 2px solid red !important;
}